/*!
 * Flowplayer HTML5 audio plugin
 *
 * Copyright (c) 2016, Flowplayer Oy
 *
 * Released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 *
 * revision: $GIT_ID$
 */

.is-audio.flowplayer
  .fp-engine
    top -99999em

  .fp-player
    background-size contain
    background-repeat no-repeat
    background-position center

.is-audio.flowplayer.is-poster
  .fp-player
    background-size 0

.is-audio-only.flowplayer
  .fp-engine
  >a
    top -99999em

  .fp-ratio
  .fp-embed
  .fp-fullscreen
  .fp-help
  .fp-speed
  .fp-title
  .fp-waiting
  .fp-header
  .fp-speed-flash
  .fp-visible
    display none !important

  .fp-ui
    background-image none

  .fp-brand
  .fp-controls
  .fp-time
    display block !important

  &.is-audio-only-7x
    background-color rgba(0, 0, 0, 0) !important

    .fp-controls
    .fp-timeline
      display -ms-flexbox !important
      display -webkit-flex !important
      display flex !important

    .fp-timeline
      width 100% !important

  &.is-splash
    .fp-timeline
    .fp-timeline-tooltip
    .fp-timestamp
      display none

    .fp-buffer
    .fp-progress
    .fp-volumelevel
      width 0 !important
